<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <form action="{% url 'rsk:img_disp' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        IMAGE1:<input type="file" name="karthi" id="karthi1"><br>
        IMAGE2:<input type="file" name="karthi" id="karthi2">
        <input type="submit" value="Submit">
    </form>


</body>
</html>