<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        IMAGE:<input type="file" name="karthi" id="karthi">
        <input type="submit" value="Submit">
    </form>
    {% if file_url %}
      <img src="{{ file_url }}" alt="no image found" height="100" width="200">
    {% endif %}

</body>
</html>